h1{
text-align: center;
   color: brown;
 font-family: 'Nunito', sans-serif;;
 
}
.s{
    color: darkorange;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.v{
    text-align: center;
}